{{#each songs}}
<h3 class='song-title'>
    {{name}}
    <small> {{artist}}  on the album  {{album}} </small>
</h3>
<div class='.new-item delete_button'>
  <button class='btn btn-default btn-xs'>Delete</button>
</div>
{{/each}}